* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
}

#reset {
  position: absolute;
  top: 0px;
}

#container {
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 40px;
  /* border: 1px solid red; */
  margin-left:30px;
}

#container-battery {
  /* border: 1px dotted red; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  outline: 15px solid black;
  outline-offset: 15px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(0, 128, 0, 0.2));
}

#container-battery-part {
  width: 40px;
  height: 140px;
  background-color: black;
  border-radius: 0px 50% 50% 0px;
}

#container-energy {
  width: 0%;
  height: 100%;
  background-color: black;
  transition: all 0.5s;

}

button {
  padding: 40px;
  background: #f5f5f5;
  border: none;
  border-radius: 50%;
  box-shadow: 15px 15px 38px #ddd, -15px -15px 38px white;
  color: #ddd;
  font-size: 2em;
}

#reward {
  color: white;
  position: relative;
  width: 60%;
  height: 250px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  display: none;
}
#reward #code {
  position: relative;
  color: white;
  z-index: 2;
  font-size: 1.8em;
}
#reward #code::before {
  content: "Código: ";
}

#reward img {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: auto;
  opacity: 0.2;
  animation: imgRotate 10s infinite;
  pointer-events: none;
}
#reward img:nth-child(1) {
  animation-delay: 1.2s;
}
#reward img:nth-child(2) {
  animation-delay: 1.2s;
}
#reward img:nth-child(3) {
  animation-delay: 1s;
  animation-direction: alternate-reverse;
}

@keyframes imgRotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
